{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} : {% trans "fruit master data management" %}{% endblock %}

{% block header %}
{% with page_name="fruit master data management" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>{% trans "name" %}</th>
            <th>{% trans "unit price" %}</th>
            <th>{% trans "datetime created" %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
          <tr>
            <th>{{ obj.id }}</th>
            <td>{{ obj.name }}</td>
            <td>{{ obj.unit_price }}</td>
            <td>{{ obj.created_at }}</td>
            <td>
              <a href="{{ obj.get_absolute_url }}">{% trans "edit" %}</a>
              <a href="">{% trans "delete" %}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!--//.table-->
    <div class="buttons">
      <a href="">{% trans "add" %}</a>
    </div><!--//.buttons-->
{% endblock %}
